// base colors
$black: #212121;
$white: #fff;
$lighterGray: #fafafa;
$lightGray: #fefefe;
$gray: #e0e0e0;
$darkGray: #616161;
$primaryBlue: #243a5e;
$hoverBlue: #4ea8de;
$red: #d63a32;
$mainDark: #1a2946;
$lightDark: #243a5e;

// font weights
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$heavy: 800;

// fonts
$code: "Nunito Sans", sans-serif;
